body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden; 
   
}
.btn-primary {
    background-color: #068E7D;
    font-weight: 500;
    font-size: 18px;
    padding: 12px 38px;
    margin-top: 25px;
    border: none;
    border-radius: 60px;
}
.btn-primary:hover {
 background-color:white;
 color:#068E7D;
 border:#068E7D solid 1px;
 
}



.hero {
    width: 100%
}


h1 {
    font-family: "Prida01";
    font-weight: bolder;
    font-size: 90px;
}
p {
    font-weight: 400;
    line-height: normal;
}
.top {
    padding-left: 60px;
    margin-top: 90px;
}
.topimage {
    background-image: url(../Assets/shalewa.jpg);
    height: 678px;
    background-position-x: center;
    background-size: cover;
}

@media (max-width: 1280px) {
   
  
  
    h1 {
        font-size: 80px;
        line-height: 1.2;
    }
 

  
    .btn-primary {
        margin-bottom: 60px;
        padding: 12px 40px;
        background-color: transparent;
        color:#068E7D;
        border:#068E7D solid 1px;
    }
  

    .btn-primary:hover {
        color: white;
        border: none;
        background-color: #068E7D;
    }
 
}

@media (max-width: 1025px) {
    p{
        width: 90%;
    }
    h1{
        font-size: 70px;
        line-height: 1.2;
    }
}

@media (max-width: 835px) {
    h1{
        line-height: 1.2;
        font-size: 40px;
        margin-bottom: 5px;
    }

    .top {
        margin-top: 50px;
        text-align: center;
        margin: 0 auto;
    }
  
}

/* @media (max-width: 500px) {
    p {
        padding: 0 25px;
        font-size: 14px;
    }
} */








